@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Pluto";

  font-display: swap;
  src: url("../fonts/PlutoSansLight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pluto";

  font-display: swap;
  src: url("../fonts/PlutoSansRegular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Pluto";

  font-display: swap;
  src: url("../fonts/PlutoSansMedium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Pluto";

  font-display: swap;
  src: url("../fonts/PlutoSansBold.woff2") format("woff2");
}
