.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: rgba(6, 6, 6, 0.62);
  background: linear-gradient(to top, rgba(#000000, 0.45), rgba(#434343, 0.45));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  flex-shrink: 0;
}
